.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.canvas {
  display: none;
}

.video,
.image {
  flex: 1;
}

.galleryButton {
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
}

.pictureButton {
  background: none;
  padding: 0;
}

.pictureButton circle:nth-child(2) {
  transition: stroke-width 0.7s;
}

.pictureButton:active circle:nth-child(2) {
  stroke-width: 10;
}

.footer {
  width: 100%;
  height: 120px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prompt {
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
  width: 250px;
  top: 100px;
  left: 50%;
  margin: 0 -125px;
}

.prompt h2 {
  text-align: center;
}

.prompt .body {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prompt .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.prompt .inputContainerError input {
  border-color: rgb(190 18 60);
}

.prompt input {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  outline: none;
}

.prompt .error {
  font-size: 14px;
  color: rgb(190 18 60);
}

.prompt button {
  background: rgb(29 78 216);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
