name: Build, Deploy

on:
   push:
      branches:
         - main

jobs:
   build-deploy:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout repository 
           uses: actions/checkout@v2

         - name: Setup Node.js
           uses: actions/setup-node@v2
           with:
             node-version: 18

         - name: Setup pnpm
           uses: pnpm/action-setup@v2
           with:
             version: 7.23.0

         - name: Setup Python3
           uses: actions/setup-python@v2
           with:
             python-version: 3.8

         - name: Setup env
           uses: ozaytev86/create-env-file@v1
           with: 
             REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
             SUPABASE_PROJECT_URL: ${{ secrets.SUPABASE_PROJECT_URL }}
             SUPABASE_API_KEY: ${{ secrets.SUPABASE_API_KEY }}
             AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
             AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
             AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
             SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}

         - name: Install dependencies
           run: pnpm install

         - name: Deploy background jobs
           run: pnpm run deploy